@model KitapKatalog.Models.User
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h1>Yeni Kullanıcı Sayfası</h1>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.UserAd)
    @Html.TextBoxFor(x => x.UserAd, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.UserSoyad)
    @Html.TextBoxFor(x => x.UserSoyad, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.UserMail)
    @Html.TextBoxFor(x => x.UserMail, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Sifre)
    @Html.TextBoxFor(x => x.Sifre, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>

